<div class="corebaselinecreationorcommon-161-5775" name="Core@Baseline creation OR#Common">
 <div class="group-161-5776" name="Group">
 </div>
 <div class="group-161-5777" name="Group">
  <div class="group-161-5778" name="Group">
   <div class="group-161-5779" name="Group">
   </div>
   <select class="dropdown-161-5780">
    <option selected="" value="">
     Resource Group
    </option>
   </select>
   <div class="group-161-5783" name="Group">
    <div class="group-161-5784" name="Group">
    </div>
    <label class="text-161-5785" type="text" value="6 AM  -  2 PM">
     6 AM  -  2 PM
    </label>
   </div>
   <div class="group-161-5786" name="Group">
    <div class="group-161-5787" name="Group">
    </div>
    <label class="text-161-5788" type="text" value="2 PM  -  9 PM">
     2 PM  -  9 PM
    </label>
   </div>
  </div>
  <div class="group-161-5789" name="Group">
   <div class="group-161-5790" name="Group">
   </div>
   <div class="group-161-5791" name="Group">
    <label class="text-161-5792" type="text" value="Base Line Name 001">
     Base Line Name 001
    </label>
    <div class="group-161-5793" name="Group">
     <div class="group-161-5794" name="Group">
      <div class="group-161-5795" name="Group">
       <div class="group-161-5796" name="Group">
       </div>
       <img class="vector-161-5797" src="assets/images/Core/baseline-creation-or/vector-161_5797.svg"/>
       <label class="text-161-5799" type="text" value="Base Line ID">
        Base Line ID
       </label>
      </div>
      <label class="text-161-5800" type="text" value="921409198-87861">
       921409198-87861
      </label>
     </div>
     <label class="text-161-5801" type="text" value="Private">
      Private
     </label>
     <img class="vector-161-5802" src="assets/images/Core/baseline-creation-or/vector-161_5802.svg"/>
    </div>
   </div>
  </div>
  <div class="group-161-5806" name="Group">
   <div class="group-161-5807" name="Group">
   </div>
   <div class="group-161-5808" name="Group">
    <label class="text-161-5809" type="text" value="Department Type">
     Department Type
    </label>
    <img class="vector-161-5810" src="assets/images/Core/baseline-creation-or/vector-161_5810.svg"/>
    <label class="text-161-5813" type="text" value="Operating 
Room">
     Operating 
Room
    </label>
   </div>
   <img class="vector-161-5814" src="assets/images/Core/baseline-creation-or/vector-161_5814.svg"/>
   <div class="group-161-5815" name="Group">
    <label class="text-161-5816" type="text" value="Department Group">
     Department Group
    </label>
    <img class="vector-161-5817" src="assets/images/Core/baseline-creation-or/vector-161_5817.svg"/>
    <label class="text-161-5820" type="text" value="Site1_OR">
     Site1_OR
    </label>
   </div>
   <img class="vector-161-5821" src="assets/images/Core/baseline-creation-or/vector-161_5821.svg"/>
   <div class="group-161-5822" name="Group">
    <label class="text-161-5823" type="text" value="Ratio Scale">
     Ratio Scale
    </label>
    <label class="text-161-5824" type="text" value="01">
     01
    </label>
   </div>
   <img class="vector-161-5825" src="assets/images/Core/baseline-creation-or/vector-161_5825.svg"/>
   <div class="group-161-5826" name="Group">
    <label class="text-161-5827" type="text" value="number of weeks">
     number of weeks
    </label>
    <label class="text-161-5828" type="text" value="03">
     03
    </label>
    <label class="text-161-5829" type="text" value="Weeks">
     Weeks
    </label>
   </div>
   <img class="vector-161-5830" src="assets/images/Core/baseline-creation-or/vector-161_5830.svg"/>
   <div class="group-161-5831" name="Group">
    <label class="text-161-5832" type="text" value="start date">
     start date
    </label>
    <label class="text-161-5833" type="text" value="02">
     02
    </label>
    <label class="text-161-5834" type="text" value="Jan 2023">
     Jan 2023
    </label>
   </div>
   <img class="vector-161-5835" src="assets/images/Core/baseline-creation-or/vector-161_5835.svg"/>
   <div class="group-161-5836" name="Group">
    <label class="text-161-5837" type="text" value="end date">
     end date
    </label>
    <label class="text-161-5838" type="text" value="23">
     23
    </label>
    <label class="text-161-5839" type="text" value="Jan 2023">
     Jan 2023
    </label>
   </div>
  </div>
  <img class="vector-161-5840" src="assets/images/Core/baseline-creation-or/vector-161_5840.svg"/>
  <div class="group-161-6594" name="Group">
   <div class="group-161-6595" name="Group">
    <div class="group-161-6596" name="Group">
    </div>
    <label class="text-161-6597" type="text" value="Cancel">
     Cancel
    </label>
   </div>
   <div class="group-161-6598" name="Group">
    <div class="group-161-6599" name="Group">
    </div>
    <label class="text-161-6600" type="text" value="Run">
     Run
    </label>
   </div>
  </div>
 </div>
</div>
